body{
    background-color: rgb(221, 221, 221);
    padding-left: 10%;
    padding-right: 10%;
    
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
   
}


/* style for collection page */
.page-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: white;
    height: 100vh;
    border-radius: 2em 2em 0px 0px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.page-container h1{
    
   text-align: center;
   font-family: "Rowdies", serif;
   font-weight: 100;
   font-style: normal;
   margin-top: 20px;
   margin-bottom: 70px;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}
.collection-box{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; 
    filter: brightness(0.9); 
    margin-bottom: 50px;
    

}
.collection-box h2{
    font-size: 55px;
}

.collection-box:hover{
    transform: scale(1.1); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
    filter: brightness(1.2); 
    font-weight: bold;
    cursor: pointer;
    
}

.collection-box:hover h2{
    font-size: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
}

.regis-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    background-color: white;
    height: 80vh;
    border-radius: 2em ;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    width: 45%;
    margin: 10% auto 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.regis-container h2 {
    margin-bottom: 40px;
}

.regis-container form {
    width: 100%;
}

.regis-container label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.regis-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f6f6;
    height: 50px;
}

.regis-container .name-fields {
    display: flex;
    gap: 10px;
}

.regis-container .name-fields input {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.regis-container .input-group {
    flex: 1;
    flex-direction: column;
}

.regis-container .password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.regis-container .password-container button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0; 
    width: 30px; 
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
}


.regis-container .password-container input {
    flex: 1;
    padding-right: 20px; 
}

.regis-container button {
    width: 100%;
    padding: 10px;
    background-color: #3d5afe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 55px;
}

.regis-container p {
    font-size: 16px;
    margin-top: 15px;
}

.regis-container a {
    color: #3d5afe;
    text-decoration: none;
    font-weight: bold;
}



